.vscode
.vscode/settings.json
.vs
**/__pycache__/**

# Added to exclude files that exist because of Dev Container Development Environment
.storage/**
custom_components/hacs/**
custom_components/solcast_solar/**
custom_components/polestar_api/**
custom_components/ocpp/**
.HA_VERSION
automations.yaml
configuration.yaml
home-assistant_v2.db
home-assistant_v2.db-shm
home-assistant_v2.db-wal
home-assistant.log
home-assistant.log.1
home-assistant.log.fault
scenes.yaml
scripts.yaml
secrets.yaml
solcast-sites.json
solcast-undampened.json
solcast-usage.json
solcast.json
blueprints/automation/homeassistant/motion_light.yaml
blueprints/automation/homeassistant/notify_leaving_zone.yaml
blueprints/script/homeassistant/confirmable_notification.yaml
